.active {
  border-bottom: 2px solid black;
  color: white;
}

.link-button {
  text-decoration: none;
}

.link-button:hover {
  /* color: rgb(226 232 240); */
  /* color: rgba(44, 44, 44, 0.842);
  font-size: 18px; */
  border-bottom: 2px solid black;
}